[user]
	name = Mark Aseltine
	email = aseltine@upenn.edu
[push]
	default = simple


[alias]
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        lc = log ORIG_HEAD.. --stat --no-merges
        changes = diff --name-status -r
        diffstat = diff --stat -r
[gui]
	recentrepo = C:/cygwin64/home/aseltine_2/git
	recentrepo = C:/cygwin64/home/aseltine_2/dotfiles

